<h1>Leaderboard</h1>
<div class="container">
    <div id="displayleaderboarddiv" class="row displaydiv">This is a div named "displayleaderboarddiv" inside of a container div
        and a row div 
    </div>
</div>
<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/app.js"></script>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/app.css" />