<h1>Leaderboard</h1>
<div class="container">
    <div id="displayleaderboarddiv" class="row displaydiv">
        <p>Testing leaderboard</p>
    </div>
</div>
<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/app.js"></script>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/app.css" />